<h1>Products</h1>


      <form action = "/product/price" >
       Product 1
       <br>
       <input type="" name="text1">
       <br>
        Product 2
       <br>
       <input type="text" name="text2">
       <br>
        Product 3
       <br>
       <input type="text" name="text3">
       <br>
        Product 4
       <br>
       <input type="text" name="text4">
       <br>
        Total Tax
       <br>
       <input type="text" name="text5">
       <br>
       Discount
       <br>
       <input type="text" name="text6">
       <br><br>
       <input type="submit"/>
     </form>
 